*{
	margin-left: 0;
	padding: 0;
	box-sizing: border-box;}

/* UTILITY CLASS */
h1{
	font-size: 50px;
	color: #f2f2f2;}

ul li{
	display: inline-block;
	color:  #f2f2f2;
	font-size: 13px;
	padding-left: 10px;}

.fl{float: left;}

.pad20{	padding: 0 0 50px 0;}

.clear-fix{
	display: table;
	content: "";
	clear: both;}

/* END UTILITY CLASS */

.header-content{
	width: 100vw;
	max-width: 1300px;
	height: 500px;
  background-image: url(img/image-header.png);
	background-size: contain;
	background-repeat: no-repeat;
	margin:0 auto;
	background-color: #0044cc;
	background-position: 150px 80px;
	position: relative;
}
.fluentify-logo{
	padding: 10px 5%;}


/* BARRA NAVIGATORE */
.navigator-bar-right {
	padding-left: 100px;
}
.navigator-bar-right ul a:nth-child(2){
	border:3px solid white;
	padding: 2px;
	padding-right: 9px;
}
.navigator-bar-right ul a:nth-child(3){
	background-color:  #00cc00;
	padding: 5px;
	border-radius: 3px;
	padding-right: 9px;
}
/* MAIN TITLE */

.title{
	width: 500px;
	height: 50px;
	position: absolute;
	bottom: 60%;
	left: 50px;}

	.title h4{
	background-color: #00cc00;
	border-radius: 5px;
	width: 150px;
	font-size: 15px;
	padding: 8px;
	color:  #f2f2f2;
	}
